altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
gitpython
idna
importlib-metadata
jinja2
joblib
jsonschema
jsonschema-specifications
lightgbm
markdown-it-py
markupsafe
mdurl
numpy
packaging
pandas
patsy
pillow
pip
plotly
protobuf
pyarrow
pydeck
pygments=
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
statsmodels
tenacity
threadpoolctl
toml
toolz
tornado
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
xgboost
zipp
